<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Air Native Extensions (ANE)"
            id="ANE-Wizards-Android">
      </category>
      <wizard
            name="ANE Project"
            icon="icons/freshplanet.gif"
            category="ANE-Wizards-Android"
            class="com.freshplanet.ane.wizards.android.NewANEProjectWizard"
            id="com.freshplanet.ane.wizards.android.NewANEProjectWizard"
            project="true">
      </wizard>
   </extension>

</plugin>
